page-reserve {
    .bbg{
        background-color: #E6E7E8;
    }
    
    
    .img-container {
        height: 130px;
        background-size: cover !important;
        background-position: center !important;
    }
    ion-content{

    }
    .hrtag{
        color: #D1D3D4
    }
    .ion{
        margin-left: 5px;
    }
    .title1{
        font-weight: 700;
    }
}
