plan-item {
    .text-area {
        position: absolute;
        right: 8%;
        bottom: 5%;
        text-align: right;

        .title {
            font-size: 18px;
            font-weight: 700;
            color: white;
            z-index: 3333;
        }
        .date{
            color: white;
            z-index: 3333;
        }
    }

    img {
        object-fit: cover;
        width: 140px;
        height: 130px;
    }
    .fon{
        color: white;
        z-index: 3333;
    }
    .boxcon{
        margin-bottom:10px;

        .box-shadow::before, ::after {
            display: none;
        }
    }
    .boxbg{
        position: relative;
        background-size: cover !important;
        height: 140px;
        background-position: center bottom !important;
    }
    .ganzi{
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background: rgba(1,1,1,0.3);
    }
    
}

.content-md hr{
    background-color: #44D887;
}