plan-item {
    .title {
        font-size: 18px;
        font-weight: 500;
    }

    img {
        object-fit: cover;
        width: 130px;
        height: 130px;
    }
    
}
.content-md hr{
        background-color: #4fd2c2;
    }