plan-item {
    .title {
        font-size: 18px;
        font-weight: 700;
        color: white;
        z-index: 3333;
        position: absolute;
        top: 50%;
        right: 10%;
    }
    .date{
        color: white;
        z-index: 3333;
        position: absolute;
        top: 70%;
        right: 10%;
    }

    img {
        object-fit: cover;
        width: 140px;
        height: 130px;

    }
    .fon{
        color: white;
        z-index: 3333;
    }
    .boxcon{
        margin-bottom:10px; 
    }
    .boxbg{
        position: relative;
    }
    .ganzi{
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background: rgba(1,1,1,0.3);
    }
    
}
.content-md hr{
        background-color: #44D887;
    }