<ion-content>
<div class="breadcrumbs">
	<div class="container">
		<div class=" g-heading-v10 text-center">
			<h3>
				<em class="block-name">
					<span>{{title}}</span> 
				</em>
			</h3>
		</div>
	</div>
</div>
  <ul class="timeline-v1 col-xs-11 col-md-12">
    <li *ngFor="let item of spotList" class="timeline-inverted">
      <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
      <div class="timeline-panel ">
          <div class="timeline-heading" data-toggle="modal" data-target="#myModal">
              <img class="img-responsive" [src]="item.image[0].image" alt=""/>
          </div>
          <div class="timeline-footer">
              <ul class="list-unstyled list-inline blog-info">
                  <li><i class="fa fa-clock-o"></i> {{item.spot.title}}</li>
                  <li><i class="fa fa-comments-o"></i> <a href="#">7 Comments</a></li>
              </ul>
            <a class="likes" href="#"><i class="fa fa-heart"></i>239</a>
          </div>
      </div>
      <div class="modal" id="myModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
					<h4 id="myModalLabel1" class="modal-title">{{item.spot.title}}</h4>
				</div>
				<section id="howitworks">
          <div class="container-fluid with-bg-2">
            <div class="container">
              <div class="how-it-works">
                <!-- Owl Carousel v4-->
                <div class="owl-carousel-v4 owl-theme">
                  <div class="owl-slider-v4-hiw">
                    <div class="item" *ngFor="let image of item.image">
                      <img [src]="image.image" alt="">
                      <h2>usability and progresion</h2>
                      <p>Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla lorem, vel faucibus ante. Nunc ullamcorper.</p>
                      <a class="btn-u btn-u-lg btn-u-upper rounded-2x" href="#">Learn more</a>
                    </div>
                  </div>
                </div>
                <!-- End Owl Carousel v4 -->
              </div>
            </div>
          </div>
        </section>
				<div class="modal-footer">
					<button data-dismiss="modal" class="btn-u btn-u-default" type="button">Close</button>
					<button class="btn-u" type="button">Save changes</button>
				</div>
				</div>
		</div>
	</div>
    </li>
    <li class="clearfix" style="float: none;">
      
    </li>
  </ul>
  <button type="" ion-button (click)="editPlan()">수정</button>
</ion-content>