<ion-content>
  <div class=" text-center">
	<h2><span class="Turquoise">{{title}}</span></h2>
</div>
  <ul class="timeline-v1 col-xs-11 col-md-12">
    <li *ngFor="let item of spotList; let i = index;" class="timeline-inverted">
        <button text-center type="" (click)="goReserve(item.spot.title)" *ngIf="i != 0">Find Hotel</button>
        <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
        <div class="timeline-panel box-shadow shadow-effect-3">
            <div class="timeline-heading">
                <img class="img-responsive" [src]="item.image[0].image" alt=""/>
            </div>
            <div class="timeline-footer">
                <ul class="list-unstyled list-inline blog-info">
                    <li><i class="fa fa-clock-o"></i> March 28, 2014</li>
                    <li><i class="fa fa-comments-o"></i> <a href="#">7 Comments</a></li>
                </ul>
                <a class="likes" href="#"><i class="fa fa-heart"></i>239</a>
            </div>
        </div>
    </li>
    <li class="clearfix" style="float: none;"></li>
  </ul>
  <button type="" ion-button (click)="editPlan()">수정</button>
</ion-content>