page-join {
    ion-select {
        max-width: 70% !important;
    }
    .tttb{
        border: 1px solid #4FD2C2;
        background-color: white;
        width: 43%;
        font-size: 14px;
        height: 50px;
        margin: 7px 10px 0px 10px;
        color: #4FD2C2;
    }
    ion-label{
        color:#4FD2C2;
    }
    .downn{
        height: 100px;
    }
    ion-content{
    }
}
