<ion-header>
  <ion-navbar>
    <div class="one-page-header navbar navbar-default navbar-fixed-animate homeapp-header" data-role="navigation">
      <div class="navbar-brand" (click)="changeTab(coursePage)">
        <span>
          <a class="navbar-brand" href="#">
					  <img src="assets/img/logo-dark.png" alt="Logo">
				  </a>
        </span>
      </div>
      <button type="" (click)="changeTab(loginPage)" *ngIf="!loginSession.id">login</button>
      <button type="" (click)="loginSession.clear()" *ngIf="loginSession.id">logout</button>
      {{loginSession.id}}
    </div>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-nav [root]="rootPage"></ion-nav>
</ion-content>
<ion-footer no-padding>
  <ion-row no-margin>
    <ion-col col-6 (click)="changeTab(coursePage)" style="border-right: 1px #4fd2c2 solid;">
      <span aria-hidden="true" class="icon-travel-056"></span>&nbsp;Course
    </ion-col>
    <ion-col col-6 (click)="changeTab(planPage)" style="border-left: 1px #4fd2c2 solid;">
      <span aria-hidden="true" class="icon-travel-056"></span>&nbsp;Plan
    </ion-col>
  </ion-row>
</ion-footer>
