<ion-header>
  <ion-navbar>
    <div class="one-page-header navbar navbar-default navbar-fixed-animate homeapp-header" data-role="navigation">
      <div class="navbar-brand centersss" (click)="changeTab(coursePage)">
        <span >
          <a class="navbar-brand " href="#">
					  <img src="assets/img/logo.png" alt="Logo" width="110px">
				  </a>
        </span>
      </div>
      <span class="pull-right item"> 
        <span aria-hidden="true" class="icon-login" style="font-size: 30px;" (click)="changeTab(loginPage)" *ngIf="!loginSession.id"></span>
        <span aria-hidden="true" class="icon-logout" style="font-size: 30px;" type="" (click)="loginSession.clear()" *ngIf="loginSession.id"></span>
        {{loginSession.id}}
      </span>
    </div>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-nav [root]="rootPage"></ion-nav>
</ion-content>
<ion-footer no-padding>
  <ion-row no-margin>
    <ion-col col-6 (click)="changeTab(coursePage)" style="border-right: 1px #fff solid;">
      <span aria-hidden="true" class="icon-travel-056"></span>&nbsp;Course
    </ion-col>
    <ion-col col-6 (click)="changeTab(planPage)" style="border-left: 1px #fff solid;">
      <span aria-hidden="true" class="icon-travel-139"></span>&nbsp;Plan
    </ion-col>
  </ion-row>
</ion-footer>
