<ion-header>
  <ion-navbar>
    <div class="one-page-header navbar navbar-default navbar-fixed-animate homeapp-header" data-role="navigation">
      <div class="navbar-brand" (click)="changeTab(coursePage)">
        <span>{{title}}</span>
      </div>
      <button type="" (click)="changeTab(loginPage)" *ngIf="!loginSession.id">login</button>
      <button type="" (click)="loginSession.clear()" *ngIf="loginSession.id">logout</button>
      {{loginSession.id}}
    </div>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-nav [root]="rootPage"></ion-nav>
</ion-content>
<ion-footer no-padding>
  <div class="container-fluid with-bg-2" no-padding>
    <div class="subfooter">
      <ul class="list-inline social-list text-center">
        <li class=" social-item" (click)="changeTab(coursePage)"><h2 class="g-color-white">Course</h2></li>
        <li class=" social-item" (click)="changeTab(planPage)"><h2 class="g-color-white">Plan</h2></li>
      </ul>
    </div>
  </div>
</ion-footer>
