course-item {
    .container {
        position: relative;
        width: 50%;
        height: 0px;
        padding-bottom: 50%;
        background-size: cover !important;
    }
    .title {
        position: absolute;
        bottom: 7px;
        right: 6px;
        color: white;
        font-size: 17px;
    }
}
