course-item {
    .img {
        // height: 130px;
        background-size: cover !important;
        background-position: center !important;
    }
    .short-info-text{
        height: 80px;
        padding: 0px 15px 20px 10px;
    }
}
