page-course {
    
    .carousel-control {
        background-image: none !important;
    }
    .carousel {
        position: relative;
        transition-property: opacity, max-height;
        transition-duration: 1s, 1s;
        opacity: 1;
        max-height: 40%;
    }
    .carousel.animation-hide {
        transition-property: opacity, max-height;
        transition-duration: 1s, 1s;
        opacity: 0;
        max-height: 0px;
    }
    .item{
        padding-right: 0px;
        padding-left: 0px;
    }
    .filter{
        z-index: 33333;
        width: 100%;
        background-color: #4FD2C2; 
        height: 70px;
        .filterWord{
            padding-top: 25px;
            color: white;
        }
    }
}
