page-course-datail {
    
    .container {
        
    }
    .container.checked {
        background: red;
    }
    .nopadding{
        padding-right: 0px; 
        padding-left: 0px; 
    }
    
}
.modal-backdrop{
        position: relative;
    }