page-course-datail {
    .container {
        
    }
    .container.checked {
        background: red;
    }
    .nopadding{
        padding-right: 5px; 
        padding-left: 5px; 
    }
    .modal-backdrop{
        position: relative;
    }
    
    ion-datetime {
        flex: 2;
    }
}