page-course-datail {
    .btttn{
        border: 1px solid #4FD2C2;
        background-color: white;
        color: #4FD2C2;
    }
    .sds{
        background-color: white;
        color: #4FD2C2;
    }
    .container {
        
    }
    .container.checked {
        background: red;
    }
    .nopadding{
        padding-right: 5px; 
        padding-left: 5px; 
    }
    
    ion-datetime {
        flex: 2;
    }
    .carousel-control {
        background-image: none !important;
    }

    .spot-main-image {
        position: relative;

        button {
            position: absolute;
            top: 0%;
            right: 0%;
            z-index: 2;
        }

        .spot-checked {
            position: absolute;
            display: flex;
            top: 0%;
            z-index: 1;
            width: 100%;
            height: 100%;
            background: black;
            opacity: 0.6;

            ion-icon {
                margin: auto;
                color: white;
                font-size: 50px;
            }
        }
    }
}

.modal-backdrop {
    display: none !important;
}